*{
    padding: 0;
    margin: 0;
}
.link{
     text-decoration: none; 
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  
}
.link a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.link a:hover{
    color: blue;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
}

.icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  vertical-align: middle;
  margin-right: 0px; 
  font-size: 5px;
}

.logo {
    padding:0;
    margin: 0;
}

.menu {
  display: flex;
  gap: 20px; 
}

.menu a {
  text-decoration: none;
  color: gray;
}


.palent{
    background-color: rgb(243, 247, 250);
    display: flex;
    gap: 110px;
    width: 100%;
    height: 80%;
    margin: 0;
   
 
}
.palent img{
    width: 550px;
    height: 360px;
    border-radius: 40px;
    padding: 20px;
  
}
.palent h2{
    font-size: 40px;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1500;
    color: rgb(48, 48, 48);
    

}
.palent p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 40px;
}
.palent2{
    text-align: center;
    margin: 50px;
    margin: 0;
}
h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 24, 24);
    font-weight: 600;
    font-size: 35px;
    padding-top: 70px;
}
.palent2 p{
    font-size: 20px;
    margin: 20px;
    color: gray;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
.palent3{
    display: flex;
    gap: 40px;
    padding: 50px;
}
.photo{
      width: 400px; 
      height: 420px; 
      border: .5rem;
    border-radius: .75rem;
    box-shadow:0 0 3px 2px rgb(220, 216, 216);
   padding:20px; 
    width: 500px;
   
    
}
.photo img{
   width: 100%;
   height: 50%;
}

button{
    background-color: rgb(44, 96, 252);
    color: white;
   font-size: 16px; 
   padding: 20px 28px;
   margin: 0; 
   border-radius: 8px;
   width: auto;
   margin-left: 40px;
   margin-bottom: 40px;
   border: none;
}

footer {
    display: flex;
    gap: 310px;
    padding-left: 35px;
    background-color: rgb(28, 28, 32);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 60px;
    
}


.Quick a {
    text-decoration: none;
    display: grid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
    
}

.Contact a {
    text-decoration: none;
    display: grid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Follow a {
    text-decoration: none;
    display: grid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.bottom {
    background-color:  rgb(28, 28, 32);;
    text-align: center;
    color: rgb(184, 180, 180);
    padding-top: 30px;
  
}

.bottom p {
    padding: 30px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.head {
    display: flex;
    align-items: center;
    gap: 0px; 
}

 .logo h1 {
     margin: 0;      
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;  
    font-weight: 750;
    color: rgb(0, 72, 255);
}
 

